<section class="section-about-me" id="about-me">

    <div class="wrapper-about-me-and-photo">
        <h2 class="title-about-me visually-hidden">
            About me
        </h2>
        <p class="text-about-me">I work with people all over the world to create impressive and functional websites that
            reflect each client's
            unique
            personality.</p>
        <img class="my-photo" src="" alt="">
    </div>

    <ul class="list-descr-about-me">
        <li class="item-descr-about-me">
            <h3 class="subtitle-descr-about-me">
                About me
            </h3>
            <button class="">
                <svg class="" width="20" height="20">
                    <!-- <use href="./images/icons.svg#instagram-icon"></use> -->
                    <use href=""></use>
                </svg>
            </button>
            <p>
                I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an
                understanding of
                different programming languages ​​and technologies, always ready to improve my skills. I always follow
                the latest trends
                and look for unconventional, creative solutions to problems. I have a high level of analytical skills
                and am able to
                effectively solve even the most difficult tasks encountered on the way.
            </p>
            <p>
                Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging
                ideas and finding
                optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful
                situations, while
                maintaining a high quality of work. I am always looking for opportunities for self-improvement. I
                actively study new
                technologies and practices to stay abreast of the latest innovations. I have a strong understanding of
                various
                programming languages, frameworks and architectural concepts that allow me to create efficient and
                scalable software.
            </p>
        </li>

        <li class="item-descr-about-me">
            <h3 class="subtitle-descr-about-me">
                Role
            </h3>
            <button class="">
                <svg class="" width="20" height="20">
                    <!-- <use href="./images/icons.svg#instagram-icon"></use> -->
                    <use href=""></use>
                </svg>
            </button>
            <ul class="list-roles">
                <li class="item-role">Frontend development</li>
                <li class="item-role">HeadlessCMS,Wordpress</li>
                <li class="item-role">Blender(enjoy)</li>
            </ul>
        </li>

        <li class="item-descr-about-me">
            <h3 class="subtitle-descr-about-me">
                Education
            </h3>
            <button class="">
                <svg class="" width="20" height="20">
                    <!-- <use href="./images/icons.svg#instagram-icon"></use> -->
                    <use href=""></use>
                </svg>
            </button>
            <ul class="list-educations">
                <li class="item-education">
                    2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
                </li>
                <li class="item-education">
                    2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York
                </li>
                <li class="item-education">
                    2020 - 2022 / Advanced Blender Animation Techniques, Udemy
                </li>
            </ul>
        </li>
    </ul>

    <ul class="list-my-skills">
        <li class="item-skill">HTML/CSS</li>
        <li class="item-skill">JavaScript</li>
        <li class="item-skill">React</li>
        <li class="item-skill">Node. js</li>
        <li class="item-skill">React Native</li>
        <li class="item-skill">Soft skills</li>
    </ul>

    <button class="btn-next-skill">
        <svg class="" width="20" height="20">
            <!-- <use href="./images/icons.svg#instagram-icon"></use> -->
            <use href=""></use>
        </svg>
    </button>

</section>