<section class="covers-section">
  <div class="container covers-container">
    <h2 class="covers-title visually-hidden">Covers</h2>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
    </ul>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
    </ul>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
    </ul>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
    </ul>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          src="./img/covers-img/rectangle_10.jpg"
          width="282"
          height="155"
          alt=""
        />
      </li>
    </ul>
  </div>
</section>

<!-- <div class="content">
  <div class="marquee">
    <div class="marquee__inner">
      <p class="marquee__line">Project 1</p>
      <p class="marquee__line">Project 2</p>
      <p class="marquee__line">Project 3</p>
      <p class="marquee__line">Project 4</p>
      <p class="marquee__line">Project 5</p>
      <p class="marquee__line">Project 6</p>
      <p class="marquee__line">Project 7</p>
      <p class="marquee__line">Project 8</p>
    </div>
    <div class="marquee__inner">
      <p class="marquee__line">Project 1</p>
      <p class="marquee__line">Project 2</p>
      <p class="marquee__line">Project 3</p>
      <p class="marquee__line">Project 4</p>
      <p class="marquee__line">Project 5</p>
      <p class="marquee__line">Project 6</p>
      <p class="marquee__line">Project 7</p>
      <p class="marquee__line">Project 8</p>
    </div>
    <div class="marquee__inner">
      <p class="marquee__line">Project 1</p>
      <p class="marquee__line">Project 2</p>
      <p class="marquee__line">Project 3</p>
      <p class="marquee__line">Project 4</p>
      <p class="marquee__line">Project 5</p>
      <p class="marquee__line">Project 6</p>
      <p class="marquee__line">Project 7</p>
      <p class="marquee__line">Project 8</p>
    </div>
  </div>
</div> -->
