<section class="covers-section" id="covers">
  <div class="container covers-container js-covers-container">
    <h2 class="covers-title visually-hidden">Covers</h2>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/first_screen_1.jpg    1x,
            ./img/covers-img/first_screen_1@2x.jpg 2x
          "
          src="./img/covers-img/first_screen_1.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_10.jpg    1x,
            ./img/covers-img/rectangle_10@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_10.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_11.jpg    1x,
            ./img/covers-img/rectangle_11@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_11.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_12.jpg    1x,
            ./img/covers-img/rectangle_12@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_12.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_4.jpg    1x,
            ./img/covers-img/rectangle_4@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_4.jpg"
          alt="Photo of the site project"
        />
      </li>
    </ul>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_5.jpg    1x,
            ./img/covers-img/rectangle_5@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_5.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_6.jpg    1x,
            ./img/covers-img/rectangle_6@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_6.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_7.jpg    1x,
            ./img/covers-img/rectangle_7@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_7.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_8.jpg    1x,
            ./img/covers-img/rectangle_8@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_8.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_9.jpg    1x,
            ./img/covers-img/rectangle_9@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_9.jpg"
          alt="Photo of the site project"
        />
      </li>
    </ul>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_9.jpg    1x,
            ./img/covers-img/rectangle_9@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_9.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_4.jpg    1x,
            ./img/covers-img/rectangle_4@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_4.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_5.jpg    1x,
            ./img/covers-img/rectangle_5@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_5.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/first_screen_1.jpg    1x,
            ./img/covers-img/first_screen_1@2x.jpg 2x
          "
          src="./img/covers-img/first_screen_1.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_4.jpg    1x,
            ./img/covers-img/rectangle_4@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_4.jpg"
          alt="Photo of the site project"
        />
      </li>
    </ul>
    <ul class="covers-list">
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/first_screen_1.jpg    1x,
            ./img/covers-img/first_screen_1@2x.jpg 2x
          "
          src="./img/covers-img/first_screen_1.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_10.jpg    1x,
            ./img/covers-img/rectangle_10@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_10.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_11.jpg    1x,
            ./img/covers-img/rectangle_11@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_11.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_12.jpg    1x,
            ./img/covers-img/rectangle_12@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_12.jpg"
          alt="Photo of the site project"
        />
      </li>
      <li class="covers-item">
        <img
          srcset="
            ./img/covers-img/rectangle_4.jpg    1x,
            ./img/covers-img/rectangle_4@2x.jpg 2x
          "
          src="./img/covers-img/rectangle_4.jpg"
          alt="Photo of the site project"
        />
      </li>
    </ul>
  </div>
</section>
