<section class="faq" id="faq">
  <div class="container faq-container">
    <h2 class="faq-titles">FAQ</h2>

    <div class="container-first accordion-flex">
      <div class="faq-item ac">
        <div class="accordion-box">
          <h3 class="ac-header ac-header-title">
            What programming languages are most often used in your project?
          </h3>
          <button type="button" class="ac-trigger btn-descr-about-me faq-btn">
            <svg class="icon-btn-show-content" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-btn-show-content"></use>
            </svg>
            <svg
              class="icon-btn-hide-content visually-hidden"
              width="20"
              height="20"
            >
              <use href="./img/symbol-defs.svg#icon-btn-hide-content"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text ac-text-new">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>

      <div class="faq-item ac">
        <div class="accordion-box">
          <h3 class="ac-header ac-header-title">
            What are the deadlines for the project?
          </h3>
          <button type="button" class="ac-trigger btn-descr-about-me faq-btn">
            <svg class="icon-btn-show-content" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-btn-show-content"></use>
            </svg>
            <svg
              class="icon-btn-hide-content visually-hidden"
              width="20"
              height="20"
            >
              <use href="./img/symbol-defs.svg#icon-btn-hide-content"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text ac-text-new">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </div>

      <div class="faq-item ac">
        <div class="accordion-box">
          <h3 class="ac-header ac-header-title">
            What payment methods do you accept?
          </h3>
          <button type="button" class="ac-trigger btn-descr-about-me faq-btn">
            <svg class="icon-btn-show-content" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-btn-show-content"></use>
            </svg>
            <svg
              class="icon-btn-hide-content visually-hidden"
              width="20"
              height="20"
            >
              <use href="./img/symbol-defs.svg#icon-btn-hide-content"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text ac-text-new">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </div>

      <div class="faq-item ac">
        <div class="accordion-box">
          <h3 class="ac-header ac-header-title">How can I contact you?</h3>
          <button type="button" class="ac-trigger btn-descr-about-me faq-btn">
            <svg class="icon-btn-show-content" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-btn-show-content"></use>
            </svg>
            <svg
              class="icon-btn-hide-content visually-hidden"
              width="20"
              height="20"
            >
              <use href="./img/symbol-defs.svg#icon-btn-hide-content"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text ac-text-new">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>

      <div class="faq-item ac">
        <div class="accordion-box">
          <h3 class="ac-header ac-header-title">
            Do you provide advice or support?
          </h3>
          <button type="button" class="ac-trigger btn-descr-about-me faq-btn">
            <svg class="icon-btn-show-content" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-btn-show-content"></use>
            </svg>
            <svg
              class="icon-btn-hide-content visually-hidden"
              width="20"
              height="20"
            >
              <use href="./img/symbol-defs.svg#icon-btn-hide-content"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text ac-text-new">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </div>

      <div class="faq-item ac">
        <div class="accordion-box">
          <h3 class="ac-header ac-header-title">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button type="button" class="ac-trigger btn-descr-about-me faq-btn">
            <svg class="icon-btn-show-content" width="20" height="20">
              <use href="./img/symbol-defs.svg#icon-btn-show-content"></use>
            </svg>
            <svg
              class="icon-btn-hide-content visually-hidden"
              width="20"
              height="20"
            >
              <use href="./img/symbol-defs.svg#icon-btn-hide-content"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="ac-text ac-text-new">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
