<header>
  <div class="container header-content">
    <div class="left-side">
      <img
        src="./img/header_img/logo-photo-header.png"
        srcset="
          ./img/header_img/logo-photo-header.png    1x,
          ./img/header_img/logo-photo-header@2x.png 2x
        "
        alt="Logo"
        class="header-logo"
      />
      <span class="text">Jefferson*</span>
    </div>
    <div>
      <button id="menu-button" class="menu-button">Menu</button>
      <ul class="menu-hidden-items" tabindex="0">
        <li class="menu-hidden-item"><a href="#about_me">About me</a></li>
        <li class="menu-hidden-item"><a href="#benefits">Benefits</a></li>
        <li class="menu-hidden-item"><a href="#projects">Projects</a></li>
        <li class="menu-hidden-item"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    <a class="order-button" href="#work_together">Order the project</a>
    <button class="menu-open-button-btn">
      <svg class="menu-open-button-svg" width="28" height="28">
        <use href="./img/symbol-defs.svg#icon-btn-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
<div class="backdrop">
  <button class="close-button" type="button" aria-label="Close">
    <svg
      class="menu-open-button-svg close-modal-icon"
      width="28px"
      height="28px"
    >
      <use href="./img/symbol-defs.svg#icon-btn-close-modal"></use>
    </svg>
  </button>
  <div class="menu-list">
    <ul class="menu-items">
      <li class="menu-item"><a href="#about_me">About me</a></li>
      <li class="menu-item"><a href="#benefits">Benefits</a></li>
      <li class="menu-item"><a href="#projects">Projects</a></li>
      <li class="menu-item"><a href="#faq">FAQ</a></li>
    </ul>
  </div>
  <a class="order-backdrop-button" href="#work_together">Order the project</a>
</div>
