<section class="hero-section">
  <div class="hero-container container">
    <h1 class="hero-title">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-contacts">
      <ul class="hero-contacts-list">
        <li>
          <a
            class="hero-contacts-list-item"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >IG</a
          >
        </li>
        <li>
          <a
            class="hero-contacts-list-item"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >FB</a
          >
        </li>
        <li>
          <a
            class="hero-contacts-list-item"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >YT</a
          >
        </li>
        <li>
          <a
            class="hero-contacts-list-item"
            href="https://github.com/YuriiMakoveichuk/project-js-MobileTeam-2"
            target="_blank"
            >GH</a
          >
        </li>
        <li>
          <a
            class="hero-contacts-list-item hero-email-link"
            href="mailto:example@example.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
