<footer class="footer-background-color">
  <div class="footer-container">
    <img
      src="./images/logo-photo.png"
      alt="jefferson"
      class="logo"
      id="#header"
      width="44"
      height="44"
    />
    <h2 class="title">Let's <span class="title-work">work</span> together</h2>
    <form class="form-container">
      <div class="form-input-container">
        <label class="send-label" for="user-mail">
          <input
            class="send-input"
            type="email"
            placeholder="clients@gmail.com"
            name="send-email"
            id="user-mail"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <span>...</span>
        </label>
        <textarea
          class="form-textarea"
          name="user-comment"
          placeholder="comments"
          id="user-comment"
          required
        ></textarea>
        <button type="submit" class="button-title">Send</button>
      </div>
    </form>
    <address class="mobile-address" id="my-contacts">
      <ul class="mobile-address-list">
        <li>
          <a class="mobile-address-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li>
          <a class="mobile-address-link" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
