.section-about-me {
    padding-top: 64px;
    padding-bottom: 32px;
}

.wrapper-about-me-and-photo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.text-about-me {
    padding: 32px 26px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    background-color: #242527;
    border-radius: 24px;
    max-width: 343px;
    min-height: 500px;
}

.accept-color-red {
    color: #ed3b44;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.accept-color-transparent-black {
    color: rgba(250, 250, 250, 0.4);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.accordion-container-about-me {
    margin-bottom: 32px;
}


.about-item.ac {
    background-color: #1c1d20;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.ac .ac-trigger.about-btn {
    background-color: #1c1d20;
    padding: 0;
    stroke: #fafafa;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ac .ac-trigger.about-btn::after {
    content: none;

}

.accordion-box-about {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

}

.ac-header-title-about {
    width: 284px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.ac .ac-panel .ac-text.ac-text-about {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.accept-color-red {
    color: #ed3b44;
    font-size: inherit;
}

.accept-color-transparent-black {
    color: rgba(250, 250, 250, 0.4);
    font-size: inherit;
}

.my-photo {
    border-radius: 24px;
    background-color: transparent;
}

.list-descr-about-me {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 32px;
}

.item-descr-about-me {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.wrapper-subtitle-and-btn {
    display: flex;
    justify-content: space-between;

    margin-bottom: 12px;
}

.subtitle-descr-about-me {
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.paragraph-one {
    margin-bottom: 32px;
}

.btn-descr-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 9px;
    width: 36px;
    height: 36px;
    stroke: #fafafa;
    transition:
        stroke 250ms linear,
        background-color 250ms linear,
        border 250ms linear;
}

.btn-descr-about-me:hover,
.btn-descr-about-me:focus {
    stroke: #242527;
    background-color: #fafafa;
    border: transparent;
}

.list-roles,
.list-educations {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}



.wrapper-skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiper-about {
    width: 260px;
    overflow: hidden;
}

.item-skill:first-child {
    text-transform: uppercase;
}

.item-skill.swiper-slide {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    padding-top: 53px;
    padding-bottom: 53px;
    width: 130px;
    height: 130px;


    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    transition:
        background-color 250ms linear,
        color 250ms linear;
}

.btn-next-skill.swiper-button-next {
    border: none;
    background-color: transparent;
    position: static;
    margin-top: 0;
    width: 28px;
    height: 28px;

    padding: 0;
    fill: transparent;
    stroke: #FAFAFA;
    transition: color 250ms linear;
}

.btn-next-skill:hover,
.btn-next-skill:focus {
    border: none;
    outline: none;
}

.btn-next-skill:hover>.icon-arrow-right,
.btn-next-skill:focus>.icon-arrow-right {
    stroke: #E0373F;
}

.btn-next-skill.swiper-button-next:after {
    content: '';
}

.item-skill.active {
    background-color: #ed3b44;

}

@media only screen and (max-width: 374px) {
    .ac .ac-trigger.about-btn {
        width: 25px;
        height: 25px;
    }
    .icon-btn-show-content-about {
        width: 15px;
        height: 15px;
    }

    .icon-btn-hide-content-about {
        width: 15px;
        height: 15px;
    }
}

@media only screen and (min-width: 768px) {

    .section-about-me {
    padding-top: 64px;
        padding-bottom: 48px;
    }

    .wrapper-about-me-and-photo {
        margin-bottom: 64px;
    }

    .text-about-me {
        padding: 64px;
        font-size: 38px;
        line-height: 1.05;
        max-width: 704px;
        min-height: 700px;
    }

    .accept-color-red {
        font-size: 38px;
        line-height: 1.05;
    }

    .accept-color-transparent-black {
        font-size: 38px;
        line-height: 1.05;
    }

    .list-descr-about-me {
        row-gap: 32px;
        margin-bottom: 64px;
    }

    .accordion-box-about {
        padding-top: 64px;
    }

    .ac .ac-trigger.about-btn {
        width: 40px;
        height: 40px;
    }

    .accordion-box-about {
        padding: 32px 0 48px;

    }

    .accordion-container-about-me {
        margin-bottom: 64px;
    }



    .wrapper-subtitle-and-btn {

        margin-bottom: 8px;
    }

    .paragraph-one {
        margin-bottom: 16px;
    }

    .btn-descr-about-me {
        padding: 10px;
        width: 40px;
        height: 40px;

    }

    .wrapper-skills {
        display: flex;
        justify-content: space-between;
    }

    .list-my-skills {
        display: flex;
    }


    .swiper-about {
        width: 600px;
    }

    .item-skill.swiper-slide {
        width: 200px;
        height: 200px;
        padding-top: 88px;
        padding-bottom: 88px;
        font-size: 20px;
    }

    .btn-next-skill.swiper-button-next {
        width: 40px;
        height: 40px;
    }

    .swiper-button-next .icon-arrow-right {
        max-width: 40px;
        max-height: 40px;
    }

}


@media only screen and (min-width: 1440px) {

    .section-about-me {
    padding-top: 96px;
        padding-bottom: 82px;
    }

    .wrapper-about-me-and-photo {
        flex-direction: row;
        margin-bottom: 96px;
    }

    .text-about-me {
        font-size: 38px;
        max-width: 680px;
    }



    .arr-photos {
        display: flex;
    }
 


    .list-descr-about-me {
        margin-bottom: 96px;
    }

    .accordion-container-about-me {
        margin-bottom: 96px;
    }

    .ac-panel-about {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 68px;
        padding-bottom: 32px;
    }

    .ac-text-about {
        width: 612px;


    }

    .full-text-descr-about-me {
        max-width: 612px;
        margin-left: 696px;
    }

    .paragraph-one {
        margin-bottom: 32px;
    }

    .swiper-about {
        width: 1200px;
    }

    .btn-next-skill.swiper-button-next.swiper-button-lock {
        display: block;
        padding: 0;
        transition: border-color 250ms linear;
    }

}