.benefits-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.benefits-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.benefits-list {
  margin-bottom: 32px;
}

.benefits-item {
  border-radius: 20px;
  max-width: 343px;
  max-height: 270px;
  background-color: #242527;
  margin-bottom: 16px;
  padding: 24px;
}

.item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
  margin-top: 64px;
}

.item-descriptive-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa99;
}

.link-order {
  display: block;
  border: 1px solid #fafafa33;
  border-radius: 60px;
  padding: 18px 36px;
  max-width: 187px;
  height: 55px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: transparent;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-order:hover {
  background-color: #ed3b44;
}

.square-icon {
  height: 48px;
  width: 48px;
  background-color: #ed3b44;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  stroke: #fafafa;
}

@media screen and (min-width: 768px) {
  .benefits-container {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .benefits-list {
    width: 704px;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-container {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .benefits-list {
    width: 680px;
    margin-left: 696px;
  }

  .benefits-item {
    width: 332px;
  }

  .link-order {
    margin-left: 696px;
  }
}
