* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    width: 100%;
    background: transparent;
    padding: 32px 16px;
}

button {
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    width: 100%;
}

.left-side {
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

.header-logo {
    width: 80px; 
    height: 80px;
    margin-right: 8px;
    border-radius: 18px;
}

.left-side .text {
    font-size: 16px; /* Example text size */
    color: #fafafa;
    display: flex;
    align-items: center; /* Center text vertically within its container */
}

.menu-open-button-btn,
.close-button {
    background: transparent;
    width: 28px; /* Button width matches SVG */
    height: 28px; /* Button height matches SVG */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-open-button-svg,
.close-modal-icon {
    width: 28px; /* Example SVG width */
    height: 28px; /* Example SVG height */
    stroke: #fafafa; /* Example SVG stroke color */
    stroke-width: 2; /* Example SVG stroke width */
}


.close-button {
    position: absolute;
    top: 32px; /* Same padding as the header */
    right: 16px; /* Same padding as the header */
    padding: 0;
    cursor: pointer;
    line-height: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/Header.jpg) no-repeat center center;
    background-size: cover;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backdrop.show {
    opacity: 1;
    visibility: visible;
    overflow: hidden; /* Prevent scrolling when backdrop is shown */
}

.menu-list {
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter Tight", sans-serif;
    height: 100%;
}

.menu-items {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
    list-style: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.menu-item:not(:last-child) {
    margin-bottom: 12px;
}

.order-button {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
    border-radius: 60px;
    padding: 14px 31px;
    width: 164px;
    height: 50px;
    background: #ed3b44;
    border: none;
    margin-bottom: 64px;
    display: inline-block; /* Ensures it behaves like a block element */
    text-decoration: none; /* Removes underline */
    cursor: pointer; /* Changes cursor on hover */
    overflow: hidden;
}

@media only screen and (min-width: 376px) {
    .menu-open-button-btn {
        display: none;
    }
}