    .section-projects {
    padding-top: 32px;
    padding-bottom: 32px;
}

.projects-title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.projects-wrapper{
    margin-bottom: 32px;
}

.projects-wrapper-list {
    background-color:#FAFAFA;
    padding: 32px;
    border-radius: 24px 24px 0 0;
}

.projects-list {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.projects-list-item { 
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1C1D20;
}

.projects-wrapper-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    color: #1C1D20;
    margin-bottom: 32px;
}

.projects-link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
    border-radius: 60px;
    padding: 13px 32px;
    background-color: #ED3B44;
    transition: background-color, 250ms, linear;
}

.projects-link:hover, .projects-link:focus {
    background-color: #E0373F;
}

.projects-wrapper-image{
    min-width: 0;
    background-color: #242527;
    padding: 100px 16px;
    border-radius: 0 0 24px 24px; 
}

.projects-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content:center;
    

    gap: 35px;
    height: 52px;   /*swiper*/
    
}


/*===============SWIPER===============*/
.projects-btn.swiper-button-next, .projects-btn.swiper-button-prev {
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
    background-color:#1c1d20;

    position: relative;
    line-height: 0;
    top: 15px;
    
    /* fill: transparent; */
    stroke: #FAFAFA;
    transition: border-color 250ms linear;
} 

.projects-btn.swiper-button-next:after, .projects-btn.swiper-button-prev:after {
    content: '';
}
/*===============/SWIPER===============*/
/* .projects-btn:hover, .projects-btn:focus {
    border-color: #3B3B3B;
} */

.projects-svg {
    width: 24px;
    height: 24px;
    transition: stroke 250ms linear;
}

/* .projects-btn:hover>.projects-svg, .projects-btn:focus>.projects-svg {
    stroke: #3B3B3B ;
} */

@media only screen and (min-width: 768px) {
    .section-projects {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .projects-wrapper {
        margin-bottom: 64px;
    }

    .projects-wrapper-list {
        padding: 64px;
        border-radius: 24px 24px 0 0;
    }

     .projects-list {
        margin-bottom: 164px;
    }

    .projects-list-item { 
        padding: 18px;
    }

    .projects-wrapper-title {
        font-size: 44px;
        line-height: 100%;
        width: 494px;
    }

    .projects-link {
        padding: 18px 50px; 
    }

    .projects-wrapper-image{
        padding: 120px 45px;
        border-radius: 0 0 24px 24px ;
    }
    
    .projects-btn-wrapper {
        gap: 43px;
    }
    
    .projects-btn{
        padding: 18px;
        width: 68px;
        height: 68px;
    }
    
    .projects-svg {
        width: 32px;
        height: 32px;
        fill: transparent;
        stroke: #FAFAFA;
    }
}

@media only screen and (min-width: 1440px) {

    .section-projects {
        padding-top: 82px;
        padding-bottom: 82px;
    }

    .projects-wrapper {
        display: flex;
    }
   
    .projects-wrapper-list {
        min-width: 688px;
        border-radius: 24px 0 0 24px;
    }

    .projects-list {
        margin-bottom: 223px;
    }

    .projects-wrapper-title {
        min-width: 494px;
    }

    .projects-wrapper-image{
        padding: 120px 37px;
        border-radius: 0 24px 24px 0  ;
    }
}

