/* Reset styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #1c1d20;
  font-family: 'Inter Tight', sans-serif;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}