.reviews-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.reviews-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.swiper-container {
  position: relative;
  overflow: hidden;
 
}

.swiper-wrapper {
  display: flex;
}

.list-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  height: 302px !important;
  box-sizing: border-box;
  overflow: hidden;
}



.person-avatar {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}

.person-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.person-review {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-top: 8px;
  max-height: 120px;
  overflow: auto;
}

.person-review::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.person-review {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.btn {
  background-color: #1c1d20;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  transform: rotate(-180deg);
  margin-right: 12px;
}

.arrow-icon {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: #fafafa;
  fill: transparent;
}

.btn.disabled {
  border: 1px solid #3b3b3b;
}

.btn.disabled .arrow-icon {
  stroke: #3b3b3b;
}

/* tablet btn */
@media (min-width: 768px) {
  .reviews-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .btn {
    width: 68px;
    height: 68px;
    margin-right: 20px;
  }

  .btn-go-left {
    margin-left: 20px;
  }

  .arrow-icon use {
    width: 28px;
    height: 28px;
  }
}

/* desktop btn*/
@media (min-width: 1440px) {
  .reviews-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .btn {
    width: 68px;
    height: 68px;
  }
}