@import url('./reset.css');
@import url('./styles.css');

.footer-container {
  max-width: 375px;
  height: 552px;
  margin: 0px 16px;
  padding: 32px 0px;
  background-color: #1c1d20;
}
.footer-background-color {
  background-color: #1c1d20;
}
.logo {
  border-radius: 12px;
  width: 44px;
  height: 44px;
  background-color: #1c1d20;
  display: block;
  cursor: pointer;
  float: left;
  padding-right: 8px;
}
.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 2.8rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 63px;
}
.title-work {
  color: #ed3b44;
}
.form-input-container {
  margin-bottom: 64px;
}
.send-input {
  background-color: #1c1d20;
  border: none;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.form-textarea {
  background-color: #1c1d20;
  border: none;
  line-height: 4rem;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  resize: none;
  margin-bottom: 32px;
}
.button-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ed3b44;
  border: none;
}
.mobile-address-list {
  display: flex;
  gap: 4px;
}
.mobile-address-link {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 178px;
  height: 37px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    padding: 80px 32px;
  }
}
.form-input-container {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 78px;
}
.logo {
  width: 70px;
  height: 70px;
}
.title {
  font-size: 64px;
}
.send-input {
  width: 245px;
}
.form-textarea {
  width: 245px;
  height: 44px;
  margin: 0px;
  line-height: 3rem;
}
.button-title {
  width: 150px;
  height: 150px;
}
